.navbar {
    background-color: #343a40;
    height: 80px;
}

#sidebar {
    background-color: #343a40;
    height: 142vh;
    /* width: calc(100% - 100px); */
    width: 100px;

}

.nav-link {
    color: white;
}

.navbar-brand {
    color: white;
}

.nav-link.active,
.nav-link:hover {
    color: white;

    /* Set the text color to white for active and hover states */
}

.nav-link.active {
    background-color: green;
    /* Set the background color to red for active state */
}

.avatar-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}